################################################################################
# Copyright (C) 2012 Trenz Electronic
# 
# Permission is hereby granted, free of charge, to any person obtaining a 
# copy of this software and associated documentation files (the "Software"), 
# to deal in the Software without restriction, including without limitation 
# the rights to use, copy, modify, merge, publish, distribute, sublicense, 
# and/or sell copies of the Software, and to permit persons to whom the 
# Software is furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included 
# in all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
# IN THE SOFTWARE.
################################################################################
# Board TE0300
# FPGA xc3sd1800a-4fgg676 xc3sd3400a-4fgg676
################################################################################

## Spartan-3A Specific constraints
CONFIG VCCAUX=3.3;

#### System level constraints

# Net sys_clk_pin LOC = "AE13" | IOSTANDARD = LVCMOS33 ;  # socket clock
# Net sys_clk_pin LOC = "F13" | IOSTANDARD = LVCMOS33 ;  # 125 MHz clock
Net sys_clk_pin LOC = "AA14" | IOSTANDARD = LVCMOS33 ;  # 100 MHz clock
# Net sys_clk_pin LOC = "K14"  | IOSTANDARD = LVCMOS33 ;  # SMA clock

#### Timing constraints

Net sys_clk_pin TNM_NET = sys_clk_pin;
# TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 8000 ps; # 125MHz
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 10000 ps; # 100MHz

#### Module LEDs_4Bit constraints

Net fpga_0_LEDs_8Bit_GPIO_d_out* TIG;
Net fpga_0_LEDs_8Bit_GPIO_d_out_pin<0> LOC="V23" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
Net fpga_0_LEDs_8Bit_GPIO_d_out_pin<1> LOC="R20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
Net fpga_0_LEDs_8Bit_GPIO_d_out_pin<2> LOC="R19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
Net fpga_0_LEDs_8Bit_GPIO_d_out_pin<3> LOC="U24" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
